*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.vscode
.idea
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bin/
bld/
obj/
publish/
[Bb]in/
[Oo]bj/
[Oo]ut/
Test/[Bb]in/
Test/[Oo]bj/
Test/[Oo]ut/
Test/coverage*
msbuild.log
msbuild.err
msbuild.wrn
.vscode
Logs/
Manual_CFD/
dist
tmp
out-tsc
bazel-out
node_modules
chrome-profiler-events*.json
speed-measure-plugin*.json
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings
.DS_Store
Thumbs.db
src/assets/.DS_Store
src/assets/.DS_Store
src/assets/images/.DS_Store
package-lock.json
yarn.lock
.angular

.vscode
.DS_Store

**/log.html
**/output.xml
**/report.html
**/selenium-screenshot*
**/debug.log